{% extends 'layout.html' %}

{% block body %}
<div style="background-image: url('getty_143918775_9706479704500123_46254.jpg');background-size: cover;padding: 0;margin: 0;width: 100vw;height: 100vh;" >
	 <br>
  <br>
   <center><h1 style="color:#F0FFFF">EMPLOYEE TURNOVER</h1></center>
  <br>
  <br>
  <p style="color:#D0D0D0;font-size: 30px;font-family: 'Sedgwick Ave', cursive;">IS EMPLOYEE RETENTION YOUR MAJOR PROBLEM<span style="font-size: 60px;">??</span></p>

  <p style="color:#D0D0D0;font-size: 30px;font-family: 'Sedgwick Ave', cursive;"> ARE YOUR BEST EMPLOYEES LEAVING YOUR COMPANY<span style="font-size: 60px;font-weight: bold;">??</span></p>

  <img src="Lost-Employee.jpg" style="margin: 0 80px; width: 500px; height: 340px;" />

   <br>
   <br>
	<div  class="container">
		<div class="row jumbotron" style="background: #e4e4e4">
			<div>
				<div class="col-sm-7">
					<h1>Hello!</h1>
					<p>WELCOME to Employee Turnover Predictor</p>
				</div>
				<div class="col-sm-5" style="">
					<img src="unnamed.gif">
				</div>
				
			</div>
		</div>
		
		<center><p><a class="btn btn-primary btn-lg" href="/predict" role="button">Let's start &raquo;</a></p></center>
	</div>
</div>
{% endblock %}
