{% extends 'layout.html' %}

{% block body %}
<!-- <div style="background-image: url('maxresdefault.jpg');background-size: cover;padding: 0;margin: 0;background-attachment: fixed;background-position: center;background-repeat: no-repeat;margin: -20px 0px;" >

  
</div> -->
<div style="background-image: url('maxresdefault.jpg');background-size: cover;padding: 0;margin: 0;background-attachment: fixed;background-position: center;background-repeat: no-repeat;margin: -20px 0px;" >
    <br>
    <br>
    <br>
    <div class="container" style="padding: 50px">
    	    	<b style="color: red;"><u><h1>Problems</h1></u></b>
			<ul>

			    <li>
			    Employees generally left when they are underworked (Less than 150hr/month or 6hr/day)
			    </li><br>

		    <li>Employees generally left when they are overworked (more than 250hr/month or 10hr/day)</li><br>

		    <li>
		    	Employees with either really high or low evaluations should be taken into consideration for high turnover rate
		    </li><br>
		    <li>
		    	 Employees with low to medium salaries are the bulk of employee turnover
		    </li><br>

		    <li>
		    	Employees that had very less or very high project count was at risk of leaving the company
		    </li><br>

		    <li>
		    	Employees with 4 and 5 years at company are at endangered of leaving		    </li>
,
		    </ul>
		    <center>
		    <img src="Employee_Retention.png"> 
		    </center>
    </div>
    <style type="text/css">
     li{
     	font-size: 20px;
     	color: #fff
     }

     img{
     	width:400px;
     	height:400px;
     }
    </style>
  </div> 
{% endblock %}
